body{
    background-color: black;
    color: white;
    font-family: 'IM Fell English SC', serif;
    font-size: 28px;
}
#novel-area a{
    color: white;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
}
#novel-area a:hover {
    background-color: white;
    color: black;
}
#novel-area ul li {
    list-style-type: none;
}