body{
    background-color: black;
    color: white;
    font-family: 'IM Fell English SC', serif;
    font-size: 28px;
}
a{
    color: white;
    text-decoration: none;
    padding-left: 1px;
    padding-right: 1px;
}
a:hover {
    background-color: white;
    color: black;
}
ul li {
    list-style-type: none;
}